@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scroll-behavior: inherit;

  --pn-font-1: "Urbanist", sans-serif;

  --pn-clr-pr-1: #3A5BA0;

  --pn-clr-sd-1: #FF6B6B;

  --pn-clr-black-1: #121212;
  --pn-clr-black-2: #1B1B1B;
  --pn-clr-black-3: #2E3033;
  --pn-clr-black-4: #171719;

  --pn-clr-tp-1: #FFC857;

  --pn-clr-gd-1: linear-gradient(90deg, #7755FF 10%, #40A4DB 44%, #0CD2B3 100%);

  --pn-cube-1: cubic-bezier(0.26, 1.22, 0.63, 1.05) 0.35s;
}

$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";
