/*
    05. button
*/


/* 
    button-start
*/
.pn-offcanvas-btn-1 {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--pn-clr-pr-1);
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    transition: var(--pn-cube-1);

    i {
        transition: var(--pn-cube-1);
    }

    &:hover {
        background: var(--pn-clr-sd-1);
    }
}


.pn-pr-btn-1 {
    font-family: var(--pn-font-1);
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    background: var(--pn-clr-gd-1);
    color: #fff;
    border-radius: 100px;
    padding: 16px 32px;
    position: relative;
    display: inline-flex;
    transition: var(--pn-cube-1);


    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        right: -6px;
        bottom: -6px;
        border-radius: 100px; 
        padding: 2px; 
        background: var(--pn-clr-gd-1);
        z-index: -1; 
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        transition: var(--pn-cube-1);
    }


    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--pn-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--pn-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    &:hover {
        color: #fff;
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }

        &::before {
            right: 0px;
            bottom: 0px;
        }
    }

}


/* 
    button-end
*/