/*
    09. preloader
*/


/* 
	preloader-css-start
*/
.as-preloader {
	position: fixed;
	inset: 0;
	z-index: 9999999;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.5s ease, visibility 0.5s ease;


	&-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		flex-direction: column;
		gap: 50px;

		

	}

	&-svg {
		transition: .3s;
		.path-1 {
			animation: asPreloader1kf 4s linear infinite;
			transform-origin: 50% 38%;
		}
		.path-2 {
			animation: asPreloader1kf 4s linear infinite;
		    transform-origin: 50% 50%;
			animation-delay: 2.5s;
		}
		.path-3 {
			animation: asPreloader1kf 4s linear infinite;
			transform-origin: 40% 50%;
			animation-delay: 1.5s;
		}
	}


	&.loaded {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		.as-preloader-svg {
			transform: translateY(-100px);
		}
	}
}




/* 
	preloader-css-end
*/


  
@keyframes asPreloader1kf {
	0%   {     
		transform: rotate(18deg); 
	}	
	50%   {     
		transform: rotate(-18deg); 
	}
	100%   {     
		transform: rotate(18deg); 
	}
}