/*
    03. typography
*/

/* 
    typography-start
*/

.pn-p-1 {
    font-family: var(--pn-font-1);
    font-weight: 400;
    font-size: 18px;
    color: var(--pn-clr-black-3);
    line-height: 140%;
    opacity: 80%;
    margin-bottom: 0;
}

.pn-h-1 {
    font-family: var(--pn-font-1);
    font-weight: 500;
    color: var(--pn-clr-black-4);
    line-height: 140%;
    margin-bottom: 0;
}

.pn-h-2 {
    font-family: var(--pn-font-1);
    font-weight: 700;
    color: var(--pn-clr-black-1);
    line-height: 120%;
    margin-bottom: 0;
}


.pn-subtitle-1 {
    font-family: var(--pn-font-1);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: var(--pn-clr-pr-1);
    margin-bottom: 16px;
}


.pn-sec-title-1 {
    font-family: var(--pn-font-1);
    font-weight: 500;
    line-height: 110%;
    font-size: 48px;
    color: var(--pn-clr-black-1);
    margin-bottom: 0;

    .has-clr {
        display: inline-block;
        font-weight: 700;
        color: var(--pn-clr-sd-1);
        border-bottom: 2px solid;
    }
    

    @media #{$xl} {
        font-size: 45px;
    }
    @media #{$lg} {
        font-size: 40px;
    }
    @media #{$md} {
        font-size: 35px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 33px;
    }
}

.as-sec-title-1 {
    font-family: var(--as-font-2);
    font-weight: 700;
    color: var(--as-clr-h-2);
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 0;




    &:is(.has-v2) {
        color: var(--as-clr-h-3);
    }
}


/* 
    typography-end
*/



/** text-fill-animation **/

[data-animation].data-title-fill:before,
[data-animation].data-title-fill:after,
[data-animation].data-title-fill {
    opacity: 1;
}

.data-title-fill {
  white-space: nowrap;
  /* color: transparent; */
  position: relative;
  display: inline-block;
}

.data-title-fill:before,
.data-title-fill:after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  color: #FEC931;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  -webkit-transition: 1s cubic-bezier(.767, .01, .18, 1.01);
  -o-transition: 1s cubic-bezier(.767, .01, .18, 1.01);
  transition: 1s cubic-bezier(.767, .01, .18, 1.01);
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.data-title-fill:after {
  /* color: #141417; */
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.data-title-fill.fill-anim:before,
.data-title-fill.fill-anim:after {
  width: 100%;
}
