/* 
    about-1-start
*/
.pn-about-1 {
    &-area {
        background-color: #F6F9FF;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        gap: 110px;

        @media #{$xl} {
            gap: 50px;
        }

        @media #{$lg,$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    &-left {
        display: grid;
        grid-template-columns: 1.07fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns:  1fr; 
        }

        @media #{$sm} {

            grid-template-columns: 1.07fr 1fr; 
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .bg-illus-1 {
            width: 38%;
            position: absolute;
            bottom: -48px;
            left: -48px;
            z-index: -1;
        }
    }

    &-img {
        &-1{
            height: 710px;
            border-radius: 160px 160px 0 160px;

            @media #{$xs} {
                height: 500px;
            }
    
            @media #{$sm} {
                height: 710px;
            }
        }

        &-2 {
            height: 330px;
            border-radius: 160px  160px 160px 0;
        }

        &-3 {
            height: 355px;
            border-radius: 160px  160px 0 160px ;
        }
    }

    &-sec-title {
        .sec-disc {
            margin-top: 12px;
        }
    }

    &-features {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-item {
            display: flex;
            gap: 40px;

            .icon {
                width: 48px;
                height: 48px;
                background: var(--pn-clr-pr-1);
                border-radius: 50%;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 42%;
                }
            }


            .left {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
            }


            .line {
                height: 42px;
                width: 2px;
                background: linear-gradient(0deg, transparent, #3A5BA0);
            }
            
            .title {
                margin-bottom: 8px;
                font-size: 24px;

                @media #{$xs} {
                    font-size: 20px;
                }

                @media #{$sm} {
                    font-size: 24px;
                }
            }
        }
    }
    
    
    &-bg-shape {
        max-width: 605px;
        width: 100%;
        position: absolute;
        top: -120px;
        left: -20px;
        z-index: -1;

        @media #{$xs} {
            display: none;
        }
    }

    &-bg-img {
        width: 17%;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}









/* 
    about-1-end
*/