/* 
    blog-1-start
*/
.pn-blog-1 {

    &-bg-svg {
        position: absolute;
        top: -3px;
        left: 0;
        max-width: 200px;
        z-index: -1;
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 340px;
        }
    
        .right {
            max-width: 340px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 42px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

    }
    
    &-item {
        position: relative;
        z-index: 1;
        overflow: hidden;

        .item-img {
            height: 380px;
            border-radius: 32px;
            margin-bottom: 40px;
        }

        .categories {
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 1;
            background: var(--pn-clr-sd-1);
            color: #fff;
            border-radius: 100px;
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 20px;
        }

        .btn-wrap {
            position: absolute;
            right: 0;
            top: 0;
            padding-bottom: 12px;
            padding-left: 12px;
            background: #fff;
            border-radius: 0 0 0 44px;
            z-index: 1;
            transform: translate(100% , -100%);
            transition: var(--pn-cube-1);
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                background-color: transparent;
                top: 0px;
                left: -35px;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: transparent;
                bottom: -20px;
                right: 0;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }
        }
        
        .btn-elm {
            display: inline-flex;
            width: 64px;
            height: 64px;
            align-items: center;
            justify-content: center;
            background: var(--pn-clr-gd-1);
            border-radius: 50%;
            font-size: 24px;
            color: #fff;
            transition: var(--pn-cube-1);

            &:hover {
                transform: rotate(45deg);
            }
        }

        .title {
            font-size: 24px;
            margin-bottom: 20px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--pn-cube-1);
                transition: var(--pn-cube-1);

            }


            &:hover {
                color: var(--pn-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }


        .item-meta {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-top: 24px;
            border-top: 1px solid rgb(0 0 0 / 6%);

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
        
        .item-meta-content {
            .author-name {
                font-size: 20px;
                margin-bottom: 7px;
            }

            &-date {
                opacity: 1;

                span {
                    &:not(:last-child) {
                        position: relative;
                        z-index: 1;
                        padding-right: 15px;
                        margin-right: 15px;

                        &::after {
                            content: "";
                            width: 3px;
                            height: 3px;
                            background-color: var(--pn-clr-black-3);
                            border-radius: 50%;
                            position: absolute;
                            top: 10px;
                            right: -2px;
                        }
                    }
                }
            }
        }

        &:hover {
            .btn-wrap {
                transform: translate(0% , 0%);
            }           
        }
    }
    
}

/* 
    blog-1-end
*/

/* 
    blog-2-start
*/
.pn-blog-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        .left {
            max-width: 350px;
        }

        .right {
            max-width: 337px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    }


    &-wrap {
        display: grid;
        gap: 32px;
        grid-template-columns: 1.4fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-item {
        .item-img {
            height: 360px;
            border-radius: 24px;
            margin-bottom: 32px;
        }

        .content-wrap {
            padding: 0 12px;
        }
        
        .title {
            font-size: 32px;
            margin-bottom: 10px;

            @media #{$xl,$lg,$md} {
                font-size: 26px;
            }

            @media #{$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
                -webkit-transition: var(--pn-cube-1);
                transition: var(--pn-cube-1);

            }


            &:hover {
                color: var(--pn-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }
        
        .disc {
            margin-bottom: 40px;
        }
    }
}

.pn-price-1-illus-1.pn-blog-2-bg-illus-1 {
    left: unset;
    right: 2%;
    top: 8%;
    bottom: 0;

    @media #{$xxl,$xl,$lg,$md,$xs} {
        display: none;
    }
}
/* 
    blog-2-end
*/
/* 
    blog-3-start
*/
.pn-blog-3 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 480px;
        }
    
        .right {
            max-width: 370px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    
    }

    &-wrap {
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr ;
        }
    }

    &-item {
        .item-img {
            height: 340px;
            border-radius: 24px;
        }
        .content-wrap {
            padding: 0 12px;
        }


        .meta-item {
            border-bottom: 1px solid rgb(46 48 51 / 10%);
            padding: 30px 0;
            opacity: 1;
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 24px;

            .line {
                width: 52px;
                height: 1px;
                background: #121212;
                opacity: 40%;
            }
        }

        .title {
            font-size: 24px;
            margin-bottom: 40px;

            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }


            
            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--pn-cube-1);
                transition: var(--pn-cube-1);

            }


            &:hover {
                color: var(--pn-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .item-btn {
            display: inline-flex;
            gap: 12px;
            align-items: center;
            transition: var(--pn-cube-1);

            .icon {
                width: 32px;
                height: 32px;
                background: var(--pn-clr-gd-1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                font-size: 14px;
                transition: var(--pn-cube-1);
            }

            &:hover {
                color: var(--pn-clr-sd-1);
                .icon {
                    background: var(--pn-clr-sd-1);
                    transform: translateX(-3px);
                }
            }
        }
        
        
    }
    
}
/* 
    blog-3-end
*/