/* 
    blog-1-start
*/
.pn-blog-1 {

    &-bg-svg {
        position: absolute;
        top: -3px;
        left: 0;
        max-width: 200px;
        z-index: -1;
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 340px;
        }
    
        .right {
            max-width: 340px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 42px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

    }
    
    &-item {
        position: relative;
        z-index: 1;
        overflow: hidden;

        .item-img {
            height: 380px;
            border-radius: 32px;
            margin-bottom: 40px;
        }

        .categories {
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 1;
            background: var(--pn-clr-sd-1);
            color: #fff;
            border-radius: 100px;
            opacity: 1;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 20px;
        }

        .btn-wrap {
            position: absolute;
            right: 0;
            top: 0;
            padding-bottom: 12px;
            padding-left: 12px;
            background: #fff;
            border-radius: 0 0 0 44px;
            z-index: 1;
            transform: translate(100% , -100%);
            transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &::after {
                content: "";
                position: absolute;
                background-color: transparent;
                top: 0px;
                left: -35px;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: transparent;
                bottom: -20px;
                right: 0;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }
        }
        
        .btn-elm {
            display: inline-flex;
            width: 64px;
            height: 64px;
            align-items: center;
            justify-content: center;
            background: var(--pn-clr-gd-1);
            border-radius: 50%;
            font-size: 24px;
            color: #fff;
        }

        .title {
            font-size: 24px;
            margin-bottom: 20px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }


        .item-meta {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-top: 24px;
            border-top: 1px solid rgb(0 0 0 / 6%);

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
        
        .item-meta-content {
            .author-name {
                font-size: 20px;
                margin-bottom: 7px;
            }

            &-date {
                opacity: 1;

                span {
                    &:not(:last-child) {
                        position: relative;
                        z-index: 1;
                        padding-right: 15px;
                        margin-right: 15px;

                        &::after {
                            content: "";
                            width: 3px;
                            height: 3px;
                            background-color: var(--pn-clr-black-3);
                            border-radius: 50%;
                            position: absolute;
                            top: 10px;
                            right: -2px;
                        }
                    }
                }
            }
        }

        &:hover {
            .btn-wrap {
                transform: translate(0% , 0%);
            }           
        }
    }
    
}

/* 
    blog-1-end
*/