/* 
    categories-1-start
*/
.pn-categories-1 {

    &-bg-shape {
        max-width: 200px;
        position: absolute;
        top: -10px;
        left: 40px;
        z-index: -1;
    }

    &-sec-title {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;

        .left {
            max-width: 540px;
            width: 100%;
        }

        .right {
            max-width: 380px;
        }
        .sec-disc {
            margin-bottom: 30px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 60px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-item {
        height: 460px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;

        .item-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 80px);
            border-radius: 20px;
            z-index: -1;
            transition: var(--pn-cube-1);
        }

        .item-btn {
            color: var(--pn-clr-black-1);
            text-align: center;
            padding: 16px 15px;
            font-size: 20px;
            width: 100%;
            transition: var(--pn-cube-1);
            z-index: 1;
            justify-content: center;
            
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -1px;
                width: 101%;
                height: 100%;
                background: #F6F9FF;
                z-index: -1;
                border-radius: 100px;
                transition: var(--pn-cube-1);
            }

            &::before {
                display: none;
            }
        }

        &:hover {
            .item-img {
                height: calc(100% - 0px);
            }
            .item-btn {
                width: 80%;
                transform: translateY(-24px);

                &:hover {
                    color: #fff;
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }
    
    
}


/* 
    categories-1-end
*/

/* 
    categories-2-start
*/
.pn-categories-2 {
    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
    }

    &-item {
        position: relative;
        z-index: 1;

        .item-content {
            background: var(--pn-clr-gd-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 240px;
            height: 240px;
            opacity: 0;
            transition: var(--pn-cube-1);
            transform: scale(.5);
        }

        .item-btn {
            display: inline-flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: var(--pn-clr-black-1);
            margin-bottom: 20px;
            transition: var(--pn-cube-1);

            &:hover {
                transform: rotate(45deg);
            }
        }

        .title {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            opacity: 1;
            transition: var(--pn-cube-1);
            
            &:hover {
                color: var(--pn-clr-black-1);
            }
        }

        .item-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 50%;
            transform: scale(.9);
            transition: var(--pn-cube-1);
        }

        &:hover {
            .item-content {
                opacity: 1;
                transform: scale(1);
            }
            .item-img {
                transform: scale(1.2);
            }

        }
    }
    

}

/* 
    categories-2-end
*/