/* 
    choose-1-start
*/
.pn-choose-1 {
    &-area {
        background-size: 100% 100%;
        margin-top: -190px;


        @media #{$lg,$md,$xs} {
            background-size: cover;
            background-position: center;
        }
    }


    &-bg-shape {
        max-width: 100px;
        position: absolute;
        top: 190px;
        left: 70px;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }
    
    &-bg-shape-2 {
        max-width: 200px;
        position: absolute;
        right: 50px;
        top: 117px;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-sec-title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item {
        background: #fff;
        border-radius: 12px;
        text-align: center;
        padding: 40px 32px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 22px;
        }

        &::after {
            content: "";
            width: 468px;
            height: 468px;
            border-radius: 50%;
            background-color: #F2E8FF;
            position: absolute;
            top: -383px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            transition: var(--pn-cube-1);
        }
        .title {
            font-size: 20px;
            margin-bottom: 10px;


            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--pn-cube-1);
                transition: var(--pn-cube-1);

            }


            &:hover {
                color: var(--pn-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .icon {
            display: inline-flex;
            width: 80px;
            height: 80px;
            background: #D0B9EF;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 40px;
            outline: 5px solid #fff;
        }

        &:hover {
            &::after {
                top: -400px;
            }

            .icon {
                img {
                    animation: jackInTheBox2 1s forwards;
                }
            }
        }

        &:nth-child(2) {
            &::after {
                background-color: #DDFFF3;
            }
            .icon {
                background-color: #58C09C;
            }
        }

        &:nth-child(3) {
            &::after {
                background-color: #FFEBF7;
            }
            .icon {
                background-color: #FAACDA;
            }
        }

        &:nth-child(4) {
            &::after {
                background-color: #FFF5DF;
            }
            .icon {
                background-color: #F6D17C;
            }
        }
    }
}



/* 
    choose-1-end
*/

/* 
    choose-2-start
*/
.pn-choose-2 {
    &-area {
        @media #{$lg,$md,$xs} {
            padding-bottom: 100px;
        }
    }
    &-sec-title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        .pn-subtitle-1 {
            color: #fff;
        }

        .pn-sec-title-1  {
            color: #fff;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.9fr 1fr;
        gap: 50px;
        align-items: start;

        @media #{$lg} {
            grid-template-columns: 1fr 1.2fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr .5fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-item {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-single {
            align-items: center;
            background: linear-gradient(115.47deg, rgba(255, 255, 255, 0.5) -76.83%, rgba(255, 255, 255, 0.2) 98.12%);
            border-radius: 12px;
            padding: 32px 32px;
            text-align: center;

            @media #{$xl,$lg,$md,$xs} {
                padding: 32px 22px;
            }

            .icon {
                margin-bottom: 32px;
            }
            .title {
                font-size: 20px;
                color: #fff;
                margin-bottom: 12px;
            }

            .disc {
                opacity: 1;
                color: #fff;
            }

            &:hover {
                .icon {
                    img {
                        animation: jackInTheBox2 1s forwards;
                    }
                }
            }
        }
    }


    &-bg-circle {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: -2;

        @media #{$md,$xs} {
            position: unset;
        }

    }

    &-img {
        @media #{$lg,$md,$xs} {
            display: none;
        }
    }
    
}
/* 
    choose-2-end
*/
/* 
    choose-3-start
*/
.pn-choose-3 {
    &-area {
        background: var(--pn-clr-gd-1);
    }

    &-wrap {
        margin-left: -172px;
        margin-right: -172px;
        padding-bottom: 140px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 1020px;

        .right {
            max-width: 386px;
        }
        .sec-disc {
            color: #fff;
            margin-bottom: 30px;
        }

        .left {
            max-width: 360px;
        }
        

        .pn-sec-title-1, .pn-subtitle-1 {
            color: #fff;
        }

        .pn-pr-btn-1  {
            background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%), #FFFFFF;
            color: #fff;
            &::before {
                background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%), #FFFFFF;
            }
        }
    }

    &-slider {
        .pn-features-2-item-inner {
            padding: 48px 32px;
            border-radius: 12px;
            max-width: 100%;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                padding: 48px 20px;
            }
        }
    }


    &-content {
        position: absolute;
        right: -138px;
        top: -140px;
        z-index: 1;
        max-width: 728px;
        width: 100%;

        @media #{$xxxl,$xxl,$xl} {
            display: flex;
            position: unset;
            margin-top: 50px;
            max-width: 100%;
        }
        @media #{$lg,$md,$xs} {
            display: flex;
            position: unset;
            margin-top: 50px;
            max-width: 100%;
            flex-wrap: wrap;
        }
    }
    
    &-counter {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            background: #FFC857;
            padding: 80px 80px;
            padding-bottom: 135px;

            @media #{$xs} {
                padding: 60px 20px;
            }

            .number {
                font-size: 60px;
                line-height: 1;
                margin-bottom: 6px;

                @media #{$xs} {
                    font-size: 40px;
                }
            }

            .disc {
                opacity: 1;
                font-size: 20px;
                margin-bottom: 22px;
            }

            .line {
                width: 48px;
                height: 1px;
                background: var(--pn-clr-black-1);
                margin-bottom: 22px;
            }


            .pn-author-img-1 {
                position: relative;
                z-index: 1;
            }

            &:nth-child(2) {
                background-color: #F6F9FF;
            }
        
        }
        
    }
    
    

    &-bg-img {
        width: 31%;
        position: absolute;
        bottom: 0;
        left: 15%;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }
    }
}


/* 
    choose-3-end
*/