/* 
    faqs-3-start
*/
.pn-faqs-3 {
    &-area {
        background-color: #F6F9FF;
    }

    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        max-width: 1076px;
        margin-left: auto;
        margin-right: auto;
        gap: 110px;
        grid-template-columns: 1.93fr 1fr;

        @media #{$lg} {
            gap: 50px;
        }

        @media #{$md} {
            gap: 50px;
            grid-template-columns: 1.3fr 1fr;
        }

        @media #{$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    
    &-tabs {
        &-btn {
            .nav-link {
                background: transparent;
                font-size: 20px;
                font-weight: 500;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 28px;
                padding: 30px 0px;
                text-align: left;
                transition: 0.2s;
                border-bottom: 1px solid rgb(46 48 51 / 10%);


                @media #{$lg,$md,$xs} {
                    padding: 22px 15px;
                }


                .number {
                    color: var(--pn-clr-sd-1);
                }
        
        
                .icon {
                    width: 30px;
                    height: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: auto;

                    .line {
                        width: 100%;
                        height: 2px;
                        background: var(--pn-clr-sd-1);
                        transition: all .4s ease-in-out;
                    }
                }
                
        
                &:is(.active) {
                    .icon {
                        .line {
                            &:nth-child(1) {
                                transform: rotate(45deg) translateY(4px);
                            }                        
                            &:nth-child(2) {
                                transform: rotate(-45deg) translateY(-4px);
                            }
                        }
                    }
        
                }
        
                &:hover {
                    color: var(--pn-clr-sd-1);
                }
            }


        }


        &-pane {
            background: var(--pn-clr-pr-1);
            border-radius: 16px;
            padding: 32px 32px;

            .title {
                font-size: 24px;
                color: #fff;
                margin-bottom: 16px;
            }

            .line {
                width: 100%;
                height: 1px;
                background: #fff;
                margin-bottom: 40px;
            }

            .disc {
                font-size: 20px;
                color: #fff;
                opacity: 100%;
            }
        }
        
        
    }
    

    &-bg-illus-2 {
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }

        overflow: visible;

        path {
            &:nth-child(2) {
                animation: pn-faqs-3-bg-illus-2_kf 6s linear infinite;
            }
        }
    }

    &-bg-illus-3 {
        position: absolute;
        bottom: 10%;
        right: 5%;
        z-index: -1;
        overflow: visible;

        @media #{$lg,$md,$xs} {
            display: none;
        }

    }
}


@keyframes pn-faqs-3-bg-illus-2_kf {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-50px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


/* 
    faqs-3-end
*/