/* 
    faqs-3-start
*/
.pn-faqs-3 {
    &-area {
        background-color: #F6F9FF;
    }

    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    
}
/* 
    faqs-3-end
*/