/* 
    features-2-start
*/
.pn-features-2 {
  &-area {
    background-color: #F6F9FF;

    @media #{$over,$xxxl,$xxl} {
      height: 3000px;
    }

    @media #{$xl,$lg,$md,$xs} {
      padding-bottom: 100px;
    }
  }

  &-illus-1 {
      position: absolute;
      top: 8%;
      right: 8%;
      z-index: -1;
      overflow: visible;

    .path-1 {
        animation: wa-rotated 5s linear infinite;
        transform-origin: 32% 50%;
    }

    .path-2 {
        animation: wa-rotated-minus 5s linear infinite;
        transform-origin: 68% 50%;
        animation-delay: 2.5s;
    }
  }


  
    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        @media #{$xl,$lg,$md,$xs} {
          margin-bottom: 50px;
        }
    }


    &-item {
        &-inner {
            max-width: 280px;
            padding: 38px 26px;
            padding-bottom: 100px;
            border-radius: 16px 16px 0 0;
            background: #fff;
            border: 1px solid #F4F4F6;

            @media #{$xl,$lg,$md,$xs} {
              padding: 38px 26px;
            }

            .icon {
                margin-bottom: 42px;
            }

            .title {
                font-size: 20px;
                margin-bottom: 10px;

                
              a {
                  width: 100%;
                  display: inline !important;
                  background-position-y: 0px;
                  background-repeat: no-repeat;
                  background-size: 0 100%;
                  backface-visibility: hidden;
                  -webkit-backface-visibility: hidden;
                  background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                  -webkit-transition: var(--pn-cube-1);
                  transition: var(--pn-cube-1);

              }


              &:hover {
                  a {
                      color: inherit;
                      background-size: 100% 100%;
                  }
              }
            }

            .disc {
                font-size: 16px;
            }
        }
    }

    &-pin {
      @media #{$over,$xxxl,$xxl} {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        justify-content: space-between;
      }
    }

    &-wrap {
      overflow: hidden;
      position: relative;
      z-index: 1;

      @media #{$over,$xxxl,$xxl} {
        height: 520px;
        padding-top: 390px;
      }
    }

    &-circle {
      @media #{$over,$xxxl,$xxl} {
        width: 1430px;
        height: 1430px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        margin-left: -59px;
      }

      @media #{$xl,$lg,$md,$xs} {
        display: inline-flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-item {

      &:is(._1) {

        @media #{$over,$xxxl,$xxl} {
          position: absolute;
          bottom: 100%;
          left: 40%;
        }


      }

      &:is(._2) {
        @media #{$over,$xxxl,$xxl} {
          position: absolute;
          bottom: 96%;
          right: 17%;
          transform: rotate(20deg);
        }


      }

      &:is(._3) {
        @media #{$over,$xxxl,$xxl} {
          position: absolute;
          bottom: 82.5%;
          right: -4%;
          transform: rotate(45deg);
        }

      }

      &:is(._4) {
        @media #{$over,$xxxl,$xxl} {
          position: absolute;
          bottom: 62%;
          right: -18%;
          transform: rotate(68deg);
        }

      }
    }


    &-content-posi {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      @media #{$xl,$lg,$md,$xs} {
        display: none;
      }
    }

    &-content {
      text-align: center;
      padding-bottom: 40px;

      .bg-clr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  

    &-card-title {
      display: inline-flex;
      flex-direction: column;
      gap: 20px;

      &-fix {
        height: 35px;
        overflow: hidden;
        margin-bottom: 10px;
      }

      .single-title {
        font-size: 24px;
        color: #fff;
      }
    }
    &-card-line {
      display: inline-block;
      max-width: 320px;
      width: 100%;
      height: 2px;
      background: #fff;
      position: relative;
      z-index: 1;

      .line-bar {
        width: 40px;
        height: 6px;
        background: #fff;
        position: absolute;
        left: 0%;
        top: -2px;
      }
    }
  
    
}


/* 
    features-2-end
*/

/* 
    features-3-start
*/
.pn-features-3 {
  &-area {
    background-color: #F6F9FF;
  }

  &-wrap {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1.05fr;

    @media #{$md,$xs} {
      grid-template-columns: 1fr;
    }
  }

  &-sec-title {
    .sec-disc {
      margin-top: 15px;
      max-width: 530px;
    }
  }

  &-left {
    .pn-offer-2-list {
      grid-template-columns: 1fr;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &-pin {
      position: sticky;
      top: 100px;
    }
  }

  &-right {
    position: relative;
    height: 1500px;
    @media #{$lg,$md,$xs} {
      height: auto;
    }

    &-pin {
      position: sticky;
      top: 100px;
    }
  }

  &-item {
    display: grid;
    gap: 24px;
    margin-bottom: 24px;
    will-change: margin-top;

    @media #{$over,$xxxl,$xxl,$xl} {
      grid-template-columns: 1fr 1fr;
    }

    @media #{$md} {
      grid-template-columns: 1fr 1fr;
    }


    &:nth-child(2) {
      margin-top: -195px;
      position: relative;
      z-index: 1;

      @media #{$lg,$md,$xs} {
        margin-top: 0px;
      }

      .pn-features-3-item-single {
        background-color: #fff;
      }
    }

    &:nth-child(3) {
      margin-top: -195px;
      position: relative;
      z-index: 2;

      @media #{$lg,$md,$xs} {
        margin-top: 0px;
      }
    }

    &-single {
      text-align: center;
      background-color: #E7F2FF;
      border-radius: 12px;
      padding: 40px 20px;

      .icon {
        margin-bottom: 40px;
      }

      .title {
        font-size: 20px;
        margin-bottom: 10px;

        a {
          width: 100%;
          display: inline !important;
          background-position-y: 0px;
          background-repeat: no-repeat;
          background-size: 0 100%;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
          -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

        }


        &:hover {
            color: var(--pn-clr-pr-1);

            a {
                color: inherit;
                background-size: 100% 100%;
            }
        }
      }


      .disc {
        margin-bottom: 32px;
      }

      .item-btn {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        z-index: 1;
        transition: var(--pn-cube-1);

        &::after {
          content: "";
          width: 0%;
          left: auto;
          right: 0;
          height: 1px;
          background: var(--pn-clr-pr-1);
          position: absolute;
          bottom: 0;
          transition: var(--pn-cube-1);
        }

        &:hover {
            color: var(--pn-clr-pr-1);

            &::after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
      }
    }
  }


  &-illus-1 {
    position: absolute;
    bottom: 7%;
    left: 6%;
    z-index: -1;

    @media #{$xxl,$xl,$lg,$md,$xs} {
      display: none;
    }
  }

}

.pn-features-2-illus-1.pn-features-3-illus-3 {
  top: unset;
  right: unset;
  bottom: 3%;
  left: 33%;
  z-index: -1;
}
/* 
    features-3-end
*/

