/*
    15. header
*/

/* 
    header-1-start
*/
.pn-header-1 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    &-top {
        background: var(--pn-clr-gd-1);
        position: relative;
        z-index: 1;
        padding: 15px 0;
        margin-bottom: 32px;

        &-bg-noise {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 50%;
            mix-blend-mode: soft-light;
        }

        &-text {
            text-align: center;
            color: #fff;
        }
    }
    
    &-main {
        &-flex {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .search-x-menu {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 46px;
            }
        }
        
    }

    &-logo {
        flex: 0 0 auto;
    }
    


    &-action {

        &-link {
            display: flex;
            align-items: start;
            gap: 15px;

            .pn-offcanvas-btn-1 {
                @media #{$over,$xxxl,$xxl,$xl} {
                    display: none;
                }
            }

            .pn-header-1-action-btn {
                @media #{$xs} {
                    display: none;
                }
            }
        }
        

        

        &-btn {
            display: inline-flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: var(--pn-clr-black-4);
            font-size: 20px;
            position: relative;
            z-index: 1;

            .count {
                width: 24px;
                height: 24px;
                background: var(--pn-clr-pr-1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                border-radius: 50%;
                color: #fff;
                position: absolute;
                top: 0px;
                right: -11px;
            }
        }
    }


    &-search-form {
        max-width: 636px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        @media #{$xs} {
            display: none;
        }

        .form-input {
            width: 100%;
            background: rgb(101 65 255 / 3%);
            border: 1px solid #F4F4F6;
            border-radius: 100px;
            padding-left: 20px;
            padding-right: 50px;
            height: 48px;
        }

        .form-btn {
            position: absolute;
            top: 5px;
            right: 7px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background: var(--pn-clr-sd-1);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
    }
    

    
}







.pn-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;

        li {
            flex: 0 0 auto;

            a {
                position: relative;
                z-index: 1;
                font-family: var(--pn-font-1);
                font-size: 18px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--as-clr-black-3);
                padding: 16px 0;
                display: inline-flex;
                align-items: center;
                transition: var(--pn-cube-1);
                opacity: 80%;
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--pn-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);

                    li {
                        animation: fadeInDown .2s var(--pn-cube-1) backwards;

                        @for $i from 1 through 20 {
                            &:nth-child(#{$i}) {
                                animation-delay: #{($i * 70)}ms;
                            }
                        }
                    }
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 15px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #fff;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: var(--pn-cube-1);
            
                li {
                    display: block;
                    margin: 0;
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            transform: translateX(5px);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/






/* container makes overflow visible so blurred blobs can move outside view */
.svg-wrap { width:100%; height:100vh; display:flex; align-items:center; justify-content:center; background:#0b0720; }

svg { display:block; width:100%; height:auto; overflow:visible; }

/* base for all blobs: use transform for GPU accel */
.blob { transform-origin: center; will-change: transform; }

/* different subtle animations for variety */
@keyframes float-slow-left {
  0%   { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
  50%  { transform: translate3d(-140px, -30px, 0) rotate(-3deg); }
  100% { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
}
@keyframes float-slower-right {
  0%   { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
  50%  { transform: translate3d(180px, 50px, 0) rotate(4deg); }
  100% { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
}
@keyframes float-vertical {
  0%   { transform: translate3d(0px, 0px, 0) scale(1); }
  50%  { transform: translate3d(0px, -120px, 0) scale(1.03); }
  100% { transform: translate3d(0px, 0px, 0) scale(1); }
}
@keyframes float-gentle-rotate {
  0%   { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
  50%  { transform: translate3d(-80px, 30px, 0) rotate(6deg); }
  100% { transform: translate3d(0px, 0px, 0) rotate(0.001deg); }
}

/* apply animations with varying durations/delays to make movement natural */
.blob1 { animation: float-slow-left 24s ease-in-out infinite; opacity:0.55; }
.blob2 { animation: float-slower-right 32s ease-in-out infinite; opacity:0.45; }
.blob3 { animation: float-vertical 28s ease-in-out infinite; opacity:1; }
.blob4 { animation: float-gentle-rotate 20s ease-in-out infinite; opacity:0.5; }
.blob5 { animation: float-slow-left 36s ease-in-out infinite; opacity:0.45; }
.blob6 { animation: float-slower-right 40s ease-in-out infinite; opacity:0.6; }

/* small phase offsets so they don't move in sync */
.blob2 { animation-delay: -4s; }
.blob3 { animation-delay: -8s; }
.blob4 { animation-delay: -2s; }
.blob5 { animation-delay: -10s; }
.blob6 { animation-delay: -14s; }

/* accessibility: respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  .blob { animation: none !important; }
}


/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/