/*
    15. header
*/

/* 
    header-1-start
*/
.pn-header-1 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    &-top {
        background: var(--pn-clr-gd-1);
        position: relative;
        z-index: 1;
        padding: 8px 0;
        margin-bottom: 32px;

        &-bg-noise {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 50%;
            mix-blend-mode: soft-light;
        }

        &-text {
            text-align: center;
            color: #fff;
        }
    }
    
    &-main {
        &-flex {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .search-x-menu {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 46px;
            }
        }
        
    }

    &-logo {
        flex: 0 0 auto;
    }
    


    &-action {

        &-link {
            display: flex;
            align-items: start;
            gap: 15px;

            .pn-offcanvas-btn-1 {
                @media #{$over,$xxxl,$xxl,$xl} {
                    display: none;
                }
            }

            .pn-header-1-action-btn {
                @media #{$xs} {
                    display: none;
                }
            }
        }
        

        

        &-btn {
            display: inline-flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: var(--pn-clr-black-4);
            font-size: 20px;
            position: relative;
            z-index: 1;
            transition: var(--pn-cube-1);
       

            .count {
                width: 24px;
                height: 24px;
                background: var(--pn-clr-pr-1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                border-radius: 50%;
                color: #fff;
                position: absolute;
                top: 0px;
                right: -11px;
                opacity: 1;
            }

            &:hover {
                background: var(--pn-clr-sd-1);
                color: #fff;
            }
        }
    }


    &-search-form {
        max-width: 636px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        @media #{$xs} {
            display: none;
        }

        .form-input {
            width: 100%;
            background: rgb(101 65 255 / 3%);
            border: 1px solid #F4F4F6;
            border-radius: 100px;
            padding-left: 20px;
            padding-right: 50px;
            height: 48px;
        }

        .form-btn {
            position: absolute;
            top: 5px;
            right: 7px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background: var(--pn-clr-sd-1);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            transition: var(--pn-cube-1);

            &:hover {
                background: var(--pn-clr-pr-1);
            }
        }
    }
    

    
}







.pn-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;

        li {
            flex: 0 0 auto;

            a {
                position: relative;
                z-index: 1;
                font-family: var(--pn-font-1);
                font-size: 18px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--as-clr-black-3);
                padding: 16px 0;
                display: inline-flex;
                align-items: center;
                transition: var(--pn-cube-1);
                opacity: 80%;
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--pn-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 0px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #fff;
                border-color: var(--pn-clr-pr-1);
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transform-origin: top;
                transition: var(--pn-cube-1);
                overflow: hidden;
            
                li {
                    display: block;
                    margin: 0;
                    transition: var(--pn-cube-1);
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                        font-size: 16px;
                        color: var(--pn-clr-pr-1);
                        opacity: 1;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        background: var(--pn-clr-pr-1);
                        > a {
                            transform: translateX(5px);
                            color: #fff;
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/

/* 
    header-2-start
*/
.pn-header-1-area {
    &:is(.has-header-2) {
        .pn-header-1 {
            &-search-form {
                .form-input {
                    background: rgb(255 255 255 / 10%);
                    border: none;
                    color: #fff;
                }
                .form-btn {
                    color: var(--pn-clr-black-4);
                    background-color: #fff;
                    &:hover {
                        background: var(--pn-clr-sd-1);
                        color: #fff;
                    }
                }
            }

            &-action {
                &-btn {
                    background: rgb(255 255 255 / 10%);
                    color: #fff;
                    .count {
                        background: var(--pn-clr-sd-1);
                    }

                    &:hover {
                        background: var(--pn-clr-sd-1);
                        .count {
                            background: var(--pn-clr-pr-1);
                        }
                    }
                }
            }
        }
    }
}


.pn-main-navigation {
    &:is(.has-header-2) {
        .navbar-nav {
            li {
                a {
                    color: #F4F4F6;
                }
            }
        }
    }
}
/* 
    header-2-end
*/
/* 
    header-3-start
*/
.pn-header-1-area {
    &:is(.has-header-3) {
        .pn-header-1-top {
            background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);
        }

        .pn-header-1-main-flex {
            @media #{$over} {
                margin-left: -132px;
                margin-right: -132px;
            }
        }

        .pn-header-1-action-btn {
            background: linear-gradient(115.47deg, rgba(255, 255, 255, 0.5) -76.83%, rgba(255, 255, 255, 0.2) 98.12%);
            color: #fff;
            .count {
                background: #fff;
                color: #000;
                border: 2px solid #7755FF;
            }

            &:hover {
                background-color: var(--pn-clr-sd-1);
            }
        }
    }
}
/* 
    header-3-end
*/







/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/