/* 
    hero-1-start
*/
.pn-hero-1 {
    &-area {
        padding-top: 314px;
        background-size: 120% 100%;
        animation: pnHero1 10s ease-in-out infinite;
        @media #{$md,$xs} {
            padding-top: 380px;
        }
    }

    &-curve-bg {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &-illus {
        &-1 {
            width: 7%;
            position: absolute;
            top: 27%;
            left: 9%;
            z-index: -2;

            @media #{$md,$xs} {
                display: none;
            }
        }
        &-2 {
            width: 4%;
            position: absolute;
            bottom: 22%;
            left: 6%;
            z-index: -2;

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-3 {
            width: 6%;
            position: absolute;
            right: 8%;
            top: 28%;
            z-index: -2;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 25px;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }
    

    &-author {
        margin-top: -140px;

        @media #{$md,$xs} {
            text-align: center;
        }

        .pn-author-img-1 {
            margin-bottom: 21px;
        }

        .number {
            font-size: 54px;
            font-weight: 800;
            color: var(--pn-clr-black-1);
            line-height: 1;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 34px;
            }
        }

        .disc {
            color: var(--pn-clr-black-1);
            opacity: 1;
        }
        
    }

    &-content {
        text-align: center;
    }
    
    &-title {
        font-size: 60px;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -0.01em;

        span {
            color: var(--pn-clr-sd-1);
            border-bottom: 2px solid;
        }

        @media #{$xl} {
            font-size: 55px;
        }

        @media #{$lg} {
            font-size: 50px;
        }

        @media #{$md} {
            font-size: 45px;
        }

        @media #{$xs} {
            font-size: 36px;
        }

        @media #{$sm} {
            font-size: 40px;
        }
    }
    
    
    &-disc {
        color: var(--as-clr-black-1);
        opacity: 1;
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }
    

    
    &-btn {
        margin-top: 40px;
    }
    
    &-img {
        margin-top: 85px;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-right: -50px;

        @media #{$xs} {
            margin-right: 0px;
        }

        &-1 {
            margin-right: -190px;
            margin-bottom: 30px;

            @media #{$xs} {
                display: none;
            }
        }
        

        &-2 {
            position: relative;
            z-index: 1;
        }

        &-3 {
            margin-left: -190px;
            margin-bottom: 30px;

            @media #{$xs} {
                display: none;
            }
        }
        
    }
    

    &-counter {
        background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 35px 40px;
        margin-top: -190px;

        @media #{$xl,$lg} {
            padding: 35px 20px;
        }

        @media #{$md,$xs} {
            display: none;
        }

        &-item {
            .number {
                font-size: 54px;
                font-weight: 800;
                line-height: 1;
                color: #fff;
                margin-bottom: 5px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 34px;
                }
            }

            .disc {
                color: #fff;
                opacity: 1;
            }
        }
    }


    &-scroll-btn {
        outline: 10px solid #fff;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 7%;
        right: 12%;
        z-index: 1;
        background: var(--pn-clr-sd-1);
        padding: 14px;
        transition: var(--pn-cube-1);

        @media #{$md,$xs} {
            display: none;
        }

        .icon-btn {
            position: absolute;
            font-size: 20px;
            padding: 14px;
            color: #fff;
            transition: var(--pn-cube-1);
        }

        .circle-text {
            animation: wa-rotated 10s linear infinite;
        }

        &:hover {
            background: var(--pn-clr-pr-1);
        }
    }
    
    
}


@keyframes pnHero1 {
    0% {
        background-position-x: 100%;
    }
    50% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

/* 
    hero-1-end
*/

/* 
    hero-2-start
*/
.pn-hero-2 {
    &-area {
        padding-top: 360px;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @media #{$lg,$md,$xs} {
            padding-top: 230px;
            background-size: cover;
            background-position: center;
        }
    }


    &-wrap {
        gap: 45px;
        display: grid;
        grid-template-columns: 1fr 1.35fr;
        align-items: start;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }

    &-content {
        .pn-hero-1-title {
            color: #fff;
        }

        .pn-hero-1-disc {
            color: #fff;

            @media #{$lg,$md,$xs} {
                margin-left: 0;
            }
        }

        .pn-hero-1-author {
            margin-top: 46px;
            display: flex;
            align-items: center;
            gap: 24px;
            flex-wrap: wrap;


            .number {
                font-size: 40px;
                color: var(--pn-clr-sd-1);
                line-height: 80%;
                margin-bottom: 6px;
            }

            .disc  {
                color: #fff;
            }

            .pn-author-img-1 {
                margin-bottom: 0;

                &-single {
                    border-width: 2px;
                }
            }
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 32px;
        flex-wrap: wrap;


        .how-work-btn {
            color: #fff;
            font-weight: 500;
            opacity: 1;
            margin-top: 8px;
            border-bottom: 1px solid transparent;
            transition: var(--pn-cube-1);

            &:hover {
                border-color: #fff;
            }

        }
    }
    
    &-right {
        text-align: center;
    }

    &-circle-svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 52%;
        z-index: -2;

        @media #{$lg,$md,$xs} {
            top: unset;
            bottom: 32%;
            right: 0;
            width: 100%;
        }
    }



    &-features {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        background: var(--pn-clr-sd-1);
        border-radius: 32px;
        padding: 58px 58px;
        display: flex;
        gap: 30px 60px;
        flex-wrap: wrap;

        @media #{$lg,$md,$xs} {
            position: unset;
            padding: 58px 25px;
        }

        &-item {
            max-width: 278px;

            .icon {
                width: 72px;
                height: 72px;
                background: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                margin-bottom: 20px;
            }

            .title {
                font-size: 24px;
                color: #fff;
                margin-bottom: 8px;

                @media #{$lg,$md,$xs} {
                    font-size: 20px;
                }
            }

            .disc {
                color: #fff;
                opacity: 1;
            }


            &:hover {
                .icon {
                    img {
                        animation: jackInTheBox2 1s forwards;
                    }
                }
            }
        }
    }
    

    &-illus {
        &-1 {
            position: absolute;
            top: 19%;
            left: 6%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 10s cubic-bezier(0.69, -0.96, 0.47, 1.67) infinite;
                transform-origin: 50% 40%;
            }
        }
        &-2 {
            position: absolute;
            top: 50%;
            left: 45%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 5s ease-in-out infinite;
            }
        }
        &-3 {
            position: absolute;
            top: 25%;
            right: 25%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 5s ease-in-out infinite;
            }
        }
        &-4 {
            position: absolute;
            top: 17%;
            right: 7%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
        &-5 {
            position: absolute;
            bottom: 45%;
            right: 11%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 5s ease-in-out infinite;
            }
        }
        &-6 {
            position: absolute;
            bottom: 24%;
            right: 1%;
            z-index: -3;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }
    
}
/* 
    hero-2-end
*/
/* 
    hero-3-start
*/
.pn-hero-3 {
    &-area {
        padding-top: 365px;
        padding-bottom: 124px;

        @media #{$md,$xs} {
            padding-top: 255px;
            padding-bottom: 100px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.02fr;
        gap: 50px;
        align-items: center;

        @media #{$over,$xxxl} {
            margin-left: -132px;
            margin-right: -132px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .pn-hero-1-title {
            line-height: 120%;

            .title-img {
                height: 52px;
                max-width: 148px;
                border-radius: 100px;
                margin-left: 10px;
                margin-right: 20px;
                margin-top: -12px;
            }

            .has-clr {
                border-bottom: none;
            }
        }

        .pn-hero-1-disc {
            margin-left: 0;
        }

        .how-work-btn {
            color: var(--pn-clr-black-1);

            &:hover {
                border-color: var(--pn-clr-black-1);
            }
        }
    }

    &-author {
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: 570px;
        margin-top: 86px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }

        .pn-author-img-1 {
            overflow: hidden;
            max-width: 210px;
            width: 100%;
        }

        .pn-author-img-1-single {
            width: 100px;
            height: 100px;
        }

        .line {
            background: #F4F4F6;
            height: 100px;
            width: 1px;
        }

        .author-disc {
            opacity: 1;
        }
    }

    &-right {
        margin-right: 79px;

        .pn-hero-1-scroll-btn {
            bottom: unset;
            right: unset;
            top: 8%;
            left: 15%;
            outline: none;
        }


        &-clr {
            &-1 {
                width: 341px;
                height: 514px;
                background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%), #FFC857;
                border-radius: 500px;
                position: absolute;
                right: 0;
                top: 6%;
                z-index: -1;
                transform: rotate(33deg);
            }
            &-2 {
                width: 364px;
                height: 538px;
                background: transparent;
                border-radius: 500px;
                position: absolute;
                right: -11px;
                top: 4%;
                z-index: -2;
                transform: rotate(33deg);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 500px;
                    padding: 2px; 
                    background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%), #FFC857;
                    z-index: -1; /* Place the gradient border behind the button */
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;

                    animation: h3bgClrKf 3s linear infinite;
                }
            }
        }
    }

    &-img {
        &-1 {
            height: 592px;
            max-width: 329px;
            border-radius: 500px;
            margin-left: auto;
        }

        &-2 {
            max-width: 306px;
            height: 306px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: -15%;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }
    }
    

    &-bg-clr {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 422px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #7755FF 10%, #40A4DB 44%, #0CD2B3 100%);
        z-index: -2;

        @media #{$xxl} {
            max-width: 305px;
        }

        @media #{$xl} {
            max-width: 250px;
        }

        @media #{$lg} {
            max-width: 28%;
        }
        @media #{$md,$xs} {
            display: none;
        }

        &-2 {
            width: 81%;
            position: absolute;
            top: -15%;
            left: -30%;
            z-index: -3;

            @media #{$md,$xs} {
                display: none;
            }

            img {
                animation: shakeX2 10s linear infinite;
            }
        }

        &-3 {
            width: 68%;
            position: absolute;
            top: 0;
            right: -13%;
            z-index: -3;

            @media #{$md,$xs} {
                display: none;
            }

            img {
                animation: shakeX2 10s linear infinite;
            }
        }
    }

    &-bg {
        &-illus-1 {
            position: absolute;
            top: 29%;
            left: 5%;
            z-index: -1;

            @media #{$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 3s linear infinite;
            }
        }

        &-illus-2 {
            position: absolute;
            right: 76px;
            bottom: 86px;
            @media #{$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 3s linear infinite;
            }
        }

        &-illus-3 {
            position: absolute;
            right: -120px;
            bottom: -120px;
            z-index: -1;
            @media #{$md,$xs} {
                display: none;
            }

            img {
                animation: wa-rotated 3s linear infinite;
            }
        }
    }

}

@keyframes h3bgClrKf {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}


/* 
    hero-3-end
*/