/* 
    offer-1-start
*/
.pn-offer-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        background: var(--pn-clr-gd-1);
        border-radius: 32px;
        overflow: hidden;
        padding: 60px  60px;
        padding-bottom: 150px;
        position: relative;
        z-index: 1;

        @media #{$xl,$lg,$md,$xs} {
            padding: 60px 25px;
            padding-bottom: 150px;
        }

        .subtitle {
            font-size: 16px;
            color: #fff;
            margin-bottom: 10px;
        }

        .title {
            font-size: 40px;
            max-width: 300px;
            color: #fff;
            margin-bottom: 32px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 30px;
            }
        }


        .main-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 68%;
            text-align: right;
            z-index: -1;
        }

        .illus-1 {
            width: 27%;
            position: absolute;
            right: 8%;
            top: 23%;
            z-index: -2;
        }

        .illus-2 {
            position: absolute;
            bottom: -70px;
            left: -70px;
            width: 29%;
            z-index: -2;
        }

        .illus-3 {
            width: 9%;
            position: absolute;
            bottom: 17%;
            left: 21%;
            z-index: -1;
        }

        .illus-4 {
            width: 14%;
            position: absolute;
            top: 10%;
            left: 52%;
            z-index: -2;
        }

        .illus-5 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -3;
            width: 46%;
            text-align: right;
        }

        &:nth-child(1) {
            .item-btn {
                background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);

                &::before {
                    background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);
                }
            }
        }

        &:nth-child(2) {
            background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);


            .illus-1 {
                right: 6%;
                top: 9%;
            }

            .main-img {
                position: absolute;
                bottom: 20px;
                right: -90px;
            }

            .illus-3 {
                bottom: 11%;
                left: 25%;
            }

            .illus-6 {
                position: absolute;
                right: -15%;
                bottom: -41%;
                z-index: -3;
                width: 76%;
            }
        }
    }
    
}

/* 
    offer-1-end
*/