/* 
    offer-1-start
*/
.pn-offer-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        background: var(--pn-clr-gd-1);
        border-radius: 32px;
        overflow: hidden;
        padding: 60px  60px;
        padding-bottom: 150px;
        position: relative;
        z-index: 1;

        @media #{$xl,$lg,$md,$xs} {
            padding: 60px 25px;
            padding-bottom: 150px;
        }

        .subtitle {
            font-size: 16px;
            color: #fff;
            margin-bottom: 10px;
        }

        .title {
            font-size: 40px;
            max-width: 300px;
            color: #fff;
            margin-bottom: 32px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 30px;
            }
        }


        .main-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 68%;
            text-align: right;
            z-index: -1;
        }

        .illus-1 {
            width: 27%;
            position: absolute;
            right: 8%;
            top: 23%;
            z-index: -2;
        }

        .illus-2 {
            position: absolute;
            bottom: -70px;
            left: -70px;
            width: 29%;
            z-index: -2;
        }

        .illus-3 {
            width: 9%;
            position: absolute;
            bottom: 17%;
            left: 21%;
            z-index: -1;
        }

        .illus-4 {
            width: 14%;
            position: absolute;
            top: 10%;
            left: 52%;
            z-index: -2;
        }

        .illus-5 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -3;
            width: 46%;
            text-align: right;
        }

        &:nth-child(1) {
            .item-btn {
                background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);

                &::before {
                    background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);
                }
            }
        }

        &:nth-child(2) {
            background: linear-gradient(90deg, #FF12DC 0%, #FFB912 100%);


            .illus-1 {
                right: 6%;
                top: 9%;
            }

            .main-img {
                position: absolute;
                bottom: 20px;
                right: -90px;
            }

            .illus-3 {
                bottom: 11%;
                left: 25%;
            }

            .illus-6 {
                position: absolute;
                right: -15%;
                bottom: -41%;
                z-index: -3;
                width: 76%;
            }
        }
    }
    
}

/* 
    offer-1-end
*/

/* 
    offer-2-start
*/
.pn-offer-2 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.05fr;
        gap: 50px;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        margin-top: 25px;
    }

    &-sec-title {
        .sec-disc {
            margin-top: 12px;
            max-width: 540px;
        }
        
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px 12px;
        max-width: 550px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        li {
            opacity: 1;
            display: flex;
            align-items: center;
            gap: 12px;

            i {
                font-size: 22px;
                margin-top: -2px;
                color: var(--pn-clr-sd-1);
            }
        }
        
    }

    &-right {
        .bg-illus-1 {
            position: absolute;
            right: -60px;
            bottom: -70px;
            z-index: -1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }
        }
    }


    &-playbtn {
        position: absolute;
        top: 50px;
        left: 16px;
        width: 148px;
        height: 130px;
        background: var(--pn-clr-pr-1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        color: #fff;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        
        
        i {
            margin-left: -21px;
        }
        
    }
    

    &-img {
        &-1 {
            max-width: 526px;
            height: 430px;
            margin-left: auto;
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        }


        &-2 {
            max-width: 370px;
            height: 344px;
            padding: 16px;
            background: #fff;
            position: absolute;
            bottom: -125px;
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);

            img {
                clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
            }
        }

    }
}


.pn-process-1-bg-illus-2.pn-offer-2-bg-illus {
    top: 11%;
    left: 4%;
}
/* 
    offer-2-end
*/