/* 
    price-1-start
*/
/* 
    price-3-start
*/
.pn-price-1 {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 2fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-content {
        .sec-disc {
            margin-top: 32px;
            max-width: 400px;
        }

        .btn-elm {
            margin-top: 48px;
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            gap: 12px;
            margin-top: 32px;

            .nav-link {
                font-size: 18px;
                background: transparent;
                font-weight: 500;
                display: flex;
                gap: 12px;
                align-items: center;

                .button-toggle {
                    width: 50px;
                    height: 28px;
                    border: 1px solid rgb(46 48 51 / 12%);
                    border-radius: 32px;
                    position: relative;
                    z-index: 1;
                    flex: 0 0 auto;
                    cursor: auto;

                    &::after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        background: var(--pn-clr-pr-1);
                        border-radius: 50%;
                        transition: all .5s var(--pn-cube-1);
                    }
                }

                &:not(.active) {
                    color: rgb(8 8 10 / 60%);
                    .button-toggle {
                        &::after {
                            left: 23px;
                        }
                    }

                    &:hover {
                        color: var(--sr-clr-pr-1);
                    }
                }
            }
        }
    }

    &-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$xs} {
            grid-template-columns: 1fr; 
        }


    }

    &-card  {
        border: 1px solid rgb(0 0 0 / 5%);
        border-radius: 24px;
        padding: 40px 40px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--pn-clr-gd-1);
            z-index: -1;
            opacity: 0;
            transition: var(--pn-cube-1);
        }
    
        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 22px;
        }
    
        .icon-x-title {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            align-items: start;
        }
    
        .icon {
            width: 60px;
            height: 60px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(122 90 248 / 8%);
            border-radius: 12px;
            font-size: 20px;
            color: var(--sr-clr-pr-1);
        }
    
        .limited {
            font-size: 20px;
            color: #fff;
            border-radius: 100px;
            padding: 4px 16px;
            transition: var(--pn-cube-1);
            background-color: var(--pn-clr-black-1);
            display: inline-block;
        }
    
        .package-name {
            font-size: 18px;
            font-weight: 500;
            margin-top: 32px;
        }
    
        .package-price {
            font-size: 60px;
            font-weight: 800;
            margin-top: 30px;
            line-height: 120%;
    
            @media #{$xl,$lg,$md,$xs} {
                font-size: 40px;
            }
            span {
                color: var(--pn-clr-black-3);
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
            }
        }
    
        .card-line {
            width: 100%;
            height: 1px;
            background: #000;
            margin-top: 28px;
            opacity: 5%;
        }
    
        .package-disc {
            margin-top: 20px;
        }
    
        .package-btn {
            width: 100%;
            opacity: 1;
            text-align: center;
            color: var(--pn-clr-black-1);
            border: 1px solid rgb(0 0 0 / 5%);
            border-radius: 100px;
            padding: 15px 10px;
            margin-top: 28px;
            transition: var(--pn-cube-1);
        }
    
        .package-features {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            gap: 17px;
    
            li {
                display: flex;
                align-items: center;
                gap: 12px;
                opacity: 1;

                svg {
                    width: 16px;

                    path {
                        transition: var(--pn-cube-1);
                    }
                }

            }
        }
    
        &:hover {
            &::after {
                opacity: 1;
            }

            .limited {
                background: #fff;
                color: rgb(23 23 25 / 60%);
            }

            .package-disc {
                color: #fff;
            }

            .package-price {
                color: #fff;

                span {
                    color: #fff;
                }
            }

            .package-btn {
                background: #fff;
                color: var(--pn-clr-black-1);
            }

            .package-features li {
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }
    }    


    &-illus-1 {
        width: 8%;
        position: absolute;
        bottom: 7%;
        left: 5%;
        z-index: -1;

        @media #{$xs} {
            display: none;
        }
    }
}


/* 
    price-1-end
*/