/* 
    products-1-start
*/
.pn-products-1 {
    &-area {
        padding-top: 320px;
        padding-bottom: 330px;
        position: relative;
        margin-top: -190px;


    }

    &-bg-clr {
        width: 26.5%;
        height: 100%;
        background-color: var(--pn-clr-sd-1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @media #{$xxl} {
            width: 16.5%;
        }

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }
    }
    
    &-sec-title {
        display: flex;
        justify-content: space-between;
        max-width: 1020px;
        margin-left: auto;
        gap: 30px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .right {
            max-width: 366px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        gap: 134px;
        align-items: center;

        @media #{$xxl} {
            gap: 50px;
        }

        @media #{$xl} {
            gap: 50px;
        }

        @media #{$lg,$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr ;
        }

        .right {
            @media #{$lg,$md,$xs} {
                overflow: hidden;
            }
        }
    }

    &-img {
        height: 680px;
        border-radius: 24px;

        @media #{$lg,$md,$xs} {
            height: 490px;
            max-width: 370px;
        }
    }

    &-item {
        border: 1px solid rgb(86 86 86 / 10%);
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        padding: 28px 28px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            padding: 28px 20px;
        }

        .title-x-link {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-right: -10px;
            position: relative;
            margin-bottom: -16px;
            z-index: 1;
        }


        
        .title {
            font-size: 24px;
            margin-bottom: 4px;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {
                color: var(--pn-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }
        
        .item-link {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .link-elm {
                flex: 0 0 auto;
                display: inline-flex;
                width: 40px;
                height: 40px;
                background: #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--pn-clr-black-1);
                transform: translateY(-50%);
                opacity: 0;
                visibility: hidden;
                transition-delay: 0;
                transition: var(--pn-cube-1);

                &:hover {
                    background: var(--pn-clr-pr-1);
                    color: #fff;
                }
            }
        }
        

        .item-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            transition: var(--pn-cube-1);
            height: 218px;
            margin-top: -26px;
        }
        
        
        .current-price {
            font-size: 20px;
        }

        .price-x-label {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            transition: var(--pn-cube-1);
        }
        
        .item-label {
            color: var(--pn-clr-sd-1);
            border: 1px solid var(--pn-clr-sd-1);
            border-radius: 100px;
            padding: 4px 11px;
            opacity: 1;
            font-size: 16px;
        }
        
        .cart-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--pn-clr-gd-1);
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: -0.02em;
            padding: 17px 32px;
            transform: translateY(100%);
            transition: var(--pn-cube-1);

            &:hover {
                color: var(--pn-clr-sd-1);
            }
        }

        &:hover {
            background: #F6F9FF;
            border-color: transparent;

            .item-link {
                .link-elm {
                    transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
             

                    &:nth-child(2) {
                        transition-delay: .2s;
                    }
                    &:nth-child(1) {
                        transition-delay: .3s;
                    }
                }
            }

            .cart-btn {
                transform: translateY(0%);
            }

            .price-x-label {
                transform: translateY(-52px);
            }
            .item-img {
                transform: translateY(-22px);
            }
        }
    }

    &-slider {
        margin-right: -550px;

        @media #{$lg,$md,$xs} {
            margin-right: 0px;
        }

        .swiper-wrapper {
            .swiper-slide {
                max-width: 306px;
            }
        }


        &-btn {
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 26px;
        
            .btn-wrap {
                display: flex;
            }
        }
    }
    
}

/* 
    products-1-end
*/

/* 
    products-2-start
*/
.pn-products-2 {
    &-area {
        .pn-products-1-sec-title {
            max-width: 100%;

            .left {
                max-width: 500px;
            }
        }
    }

    &-wrap {
        .pn-products-1-slider {
            margin-right: 0;
            .swiper-wrapper {
                .swiper-slide {
                    max-width: 100%;
                }
            }
        }
    }


}

.pn-about-1-bg-shape.pn-products-2-bg-shape {
    left: -81px;
}
/* 
    products-2-end
*/
/* 
    products-3-start
*/
.pn-products-3 {
    &-area {
        background-color: #fff;
        z-index: 2;
    }
    &-tabs {
        &-btn {
            display: inline-flex;
            background: #F6F9FF;
            padding: 16px 20px;
            border-radius: 100px;
            flex-wrap: wrap;
            gap: 12px;

            @media #{$xs} {
                border-radius: 12px; 
            }

            .nav-link {
                opacity: 1;
                background: #fff;
                border-radius: 100px;
                padding: 9px 17px;
                position: relative;
                z-index: 1;
                overflow: hidden;
                transition: var(--pn-cube-1);

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: var(--pn-clr-gd-1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0;
                    transition: var(--pn-cube-1);
                }

                &:hover {
                    color: #fff;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-bg-shape-2 {
        position: absolute;
        top: 13%;
        left: 16%;
        z-index: -1;
    }
    
}
.pn-categories-1-bg-shape.pn-products-3-bg-shape-1 {
    left: unset;
    right: 4%;
    transform: scaleX(-1);
}
/* 
    products-3-end
*/