/* 
    projects-3-start
*/
.pn-projects-3 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 480px;
        }
    
        .right {
            max-width: 340px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    
    }

    &-item {
        height: 520px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .item-img {
            width: 100%;
            height: 100%;
        }
        
        .item-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            background: var(--pn-clr-gd-1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 26px;
            color: #fff;
            transition: var(--pn-cube-1);
            opacity: 0;

            &:hover {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        
        .item-content {
            position: absolute;
            bottom: 24px;
            left: 24px;
            background: #fff;
            width: calc(100% - 48px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px 15px;
            gap: 12px;
            border-radius: 24px;
            opacity: 0;
            transform: translateY(24px);
            transition: var(--pn-cube-1);
            transition-delay: 0s;
        }
        
        .subtitle {
            opacity: 1;
            font-size: 16px;
        }
        
        .title {
            font-size: 24px;
        }

        &:hover {
            .item-btn {
                top: 45%;
                opacity: 1;
            }
            .item-content {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: 0.1s;
            }
        }
    }

    &-slider {
        .swiper-wrapper {
            .swiper-slide {
                transition: 0.4s ease;
                transform: scale(0.7);

                &:is(.swiper-slide-active) {
                    transform: scale(1); 
                }
            }
        }
    }
}
/* 
    projects-3-end
*/