/* 
    services-2-start
*/
.pn-services-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 340px;
        }
    
        .right {
            max-width: 370px;
        }
    
        .sec-disc {
            margin-bottom: 30px;
        }
    
    }

    
    &-wrap {
        display: flex;
        justify-content: center;
        gap: 24px;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
        }
    }
    
    &-item {
        max-width: 306px;
        position: relative;
        z-index: 1;
        height: 496px;
        width: 100%;
        overflow: hidden;
        transition: var(--pn-cube-1);

        @media #{$lg,$md,$xs} {
            max-width: 406px;
        }

        .btn-wrap {
            position: absolute;
            right: 0;
            top: 0;
            padding-bottom: 12px;
            padding-left: 12px;
            background: #fff;
            border-radius: 0 0 0 44px;
            z-index: 1;
            transition: var(--pn-cube-1);
            width: 76px;
            height: 76px;
            transform: translate(100%, -100%);

            &::after {
                content: "";
                position: absolute;
                background-color: transparent;
                top: 0px;
                left: -35px;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: transparent;
                bottom: -20px;
                right: 0;
                width: 35px;
                height: 21px;
                box-shadow: 19px 0 0 0 #fff;
                border-top-right-radius: 30px;
                z-index: -1;
            }
        }
        
        .btn-elm {
            position: absolute;
            top: 12px;
            right: 12px;
            z-index: 2;
            display: inline-flex;
            width: 64px;
            height: 64px;
            align-items: center;
            justify-content: center;
            background: var(--pn-clr-gd-1);
            border-radius: 50%;
            font-size: 24px;
            color: #fff;
            transition: var(--pn-cube-1);

            &:hover {
                transform: rotate(45deg);
            }
        }

        .item-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 76px);
            border-radius: 20px;
        }
        
        .content-wrap {
            position: absolute;
            bottom: 0;
            left: 50%;
            background: var(--pn-clr-gd-1);
            text-align: center;
            border-radius: 20px;
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
            padding: 32px 10px;
            transform: translateX(-50%) translateY(-100px);
            max-width: 556px;
            width: 100%;
            opacity: 0;
            transition: var(--pn-cube-1);
        }
        
        .subtitle {
            color: #fff;
            opacity: 1;
            font-size: 20px;
            font-weight: 500;
        }
        
        .title {
            font-size: 40px;
            color: #fff;
            font-weight: 600;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 32px;
            }
        }

        @media #{$over,$xxxl,$xxl,$xl} {
            &:is(.active) {

                max-width: 635px;
    
                .btn-wrap {
                    transform: translate(0%, 0%);
                }
                .btn-elm {
                    top: 0;
                    right: 0;
                }
                .content-wrap {
                    transform: translateX(-50%) translateY(0px);
                    opacity: 1;
                }
            }
        }


        @media #{$lg,$md,$xs} {
            .btn-wrap {
                transform: translate(0%, 0%);
            }
            .btn-elm {
                top: 0;
                right: 0;
            }
            .content-wrap {
                transform: translateX(-50%) translateY(0px);
                opacity: 1;
            }
        }


    }
}


/* 
    services-2-end
*/