/* 
    team-2-start
*/
.pn-team-2 {
    &-sec-title {
        max-width: 500px;

        .btn-wrap {
            margin-top: 50px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        align-items: end;
        margin-top: -80px;

        @media #{$lg} {
            margin-top: 50px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            margin-top: 50px;
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            margin-top: 50px;
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            margin-top: 50px;
            grid-template-columns: 1fr 1fr;
        }

    }

    &-member {
        height: 440px;
        border-radius: 200px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .member-img {
            width: 100%;
            height: 100%;
        }

        .member-content {
            position: absolute;
            bottom: 24px;
            left: 24px;
            width: calc(100% - 48px);
            background: linear-gradient(115.47deg, rgba(255, 255, 255, 0.6) -76.83%, rgba(255, 255, 255, 0.3) 98.12%);
            text-align: center;
            border-radius: 0 0  200px 200px;
            padding: 24px 24px;
            z-index: 1;
            overflow: hidden;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--pn-clr-gd-1);
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: var(--pn-cube-1);
                opacity: 0;
            }
        }

        .member-name {
            font-size: 20px;
            color: #fff;
            margin-bottom: 6px;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--pn-cube-1);
                transition: var(--pn-cube-1);

            }


            &:hover {
                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }
        .bio {
            color: #fff;
            opacity: 1;
            font-weight: 500;
        }

        &:hover {
            .member-content {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:nth-child(2) {
            @media #{$over,$xxxl,$xxl,$xl} {
                height: 500px;
            }
        }

        &:nth-child(3) {
   
            @media #{$over,$xxxl,$xxl,$xl} {
                height: 560px;
            }
        }

        &:nth-child(4) {
            @media #{$over,$xxxl,$xxl,$xl} {
                height: 620px;
            }
        }
    }
}




/* 
    team-2-end
*/