/* 
    testimonial-1-start
*/
.pn-testimonial-1 {
    &-area {
        background: #F6F9FF;
    }
    
    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        border-radius: 12px;
        background: #fff;
        padding: 40px 40px;
        transition: var(--pn-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .item-author {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            &-content {
                .name {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                .bio {
                    opacity: 1;
                }
            }
        }

        .comment {
            margin-top: 40px;
            font-size: 20px;
            color: var(--pn-clr-black-3);
        }

        .rating-x-quote {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }

        
        .item-rating {
            font-size: 22px;
            display: inline-flex;
            gap: 4px;
            color: var(--pn-clr-tp-1);
        }
        
        .quote-icon {
            font-size: 50px;
            color: var(--pn-clr-black-3);

            i {
                line-height: .7;
            }
        }

        &:hover {
            background-color: #EDF5FF;
        }
    }

    &-bg-svg {
        max-width: 260px;
        position: absolute;
        right: -20px;
        top: -10px;
        z-index: -1;

        @media #{$xs} {
            display: none;
        }
    }
}

.pn-products-1-slider-btn {
    &:is(.has-testimonial-1) {
        margin-top: 60px;
    }
}

/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.pn-testimonial-2 {

    &-area {
        background-color: #F6F9FF;
    }

    &-bg-illus-2 {
        width: 29%;
        position: absolute;
        top: -250px;
        left: -250px;
        z-index: -1;
    }

    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.78fr;
        gap: 135px;

        @media #{$xl,$lg,$md} {
            gap: 55px
        }

        @media #{$xs} {
            gap: 55px;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        &-single {
            height: 460px;
            border-radius: 400px 0 400px 400px;
        }

        .swiper-wrapper {
            .swiper-slide {
                opacity: 0 !important;

                &:is(.swiper-slide-active) {
                    opacity: 1 !important;
                }
            }
            
        }
    }
    

    &-content {
        &-single {
            position: relative;
            padding-top: 25px;

            .icon {
                position: absolute;
                top: -8px;
                left: 0px;
                font-size: 80px;
                line-height: 1;
                color: var(--pn-clr-sd-1);
                opacity: .2;
                z-index: -1;
            }
            .comment {
                opacity: 1;
                font-size: 24px;
                margin-bottom: 32px;
            }

            .author-name {
                font-size: 24px;
                margin-bottom: 4px;
            }
            .author-bio {
                opacity: 1;
            }
        }


        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .pn-testimonial-2-content-single {
                        .comment, .author-name, .author-bio {
                            animation: fadeInUp2 .5s backwards;
                            animation-delay: .4s;
                        }

                        .author-name {
                            animation-delay: .5s;
                        }

                        .author-bio {
                            animation-delay: .6s;
                        }
                    }
                }
            }
            
        }
    }

    &-slider-btn {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 48px;
    }
}



/* 
    testimonial-2-end
*/

/* 
    testimonial-3-start
*/
.pn-testimonial-3 {
    &-area {
        background-color: #F6F9FF;
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 480px;
        }
    
        .right {
            max-width: 370px;
        }

        .sec-disc {
            margin-bottom: 30px;
        }
    
    }

    &-wrap {
        display: grid;
        gap: 50px;
        max-width: 1150px;
        grid-template-columns: 1fr 1.8fr;
        margin-left: 35px;
        align-items: center;

        @media #{$lg} {
            grid-template-columns: 1fr 1.2fr;
            margin-left: 0;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            margin-left: 0;
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            flex-direction: column;
            gap: 98px;

            .bg-shape {
                position: absolute;
                top: 13px;
                left: 29px;
                z-index: -1;
            }


            .nav-link {
                background: transparent;

                &:is(.active) {
                    .author-name {
                        color: var(--pn-clr-sd-1);
                    }
                }
            }
            &-single {
                display: flex;
                align-items: center;
    
                gap: 16px;
                text-align: left;

                .item-img {
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    flex: 0 0 auto;
                }

                .author-name {
                    font-size: 20px;
                    margin-bottom: 4px;
                    transition: var(--pn-cube-1);
                }

                &:hover {
                    .author-name {
                        color: var(--pn-clr-sd-1);
                    }
                }
            }


            .nav-item {
                &:nth-child(3) {
                    margin-left: 112px;
                }
            }
        }


        &-pane {
            &-single {
                .rating {
                    color: var(--pn-clr-tp-1);
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .comment {
                    font-size: 24px;
                    opacity: 1;

                    @media #{$lg,$md,$xs} {
                        font-size: 20px;
                    }
                }
            }

            .bg-icon {
                position: absolute;
                top: 61%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 160px;
                z-index: -1;
                color: var(--pn-clr-sd-1);
                opacity: 6%;
            }

            .tab-pane {
                &:is(.active) {
                    .pn-testimonial-3-tabs-pane-single {
                        .rating {
                            i {
                                animation: fadeIn .5s backwards ;

                                &:nth-child(1) {
                                    animation-delay: .1s;
                                }

                                &:nth-child(2) {
                                    animation-delay: .2s;
                                }

                                &:nth-child(3) {
                                    animation-delay: .3s;
                                }

                                &:nth-child(4) {
                                    animation-delay: .4s;
                                }

                                &:nth-child(5) {
                                    animation-delay: .5s;
                                }
                            }
                        }

                        .comment {
                            animation: fadeInUp2 .5s backwards ;
                            animation-delay: .3s;
                        }
                    }
                }
            }
        }
        
    }
}
.pn-price-1-illus-1.pn-testimonial-3-illus-1 {
    left: unset;
    right: 4%;
}
/* 
    testimonial-3-end
*/