/* 
    testimonial-1-start
*/
.pn-testimonial-1 {
    &-area {
        background: #F6F9FF;
    }
    
    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        border-radius: 12px;
        background: #fff;
        padding: 40px 40px;
        transition: var(--pn-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .item-author {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            &-content {
                .name {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                .bio {
                    opacity: 1;
                }
            }
        }

        .comment {
            margin-top: 40px;
            font-size: 20px;
            color: var(--pn-clr-black-3);
        }

        .rating-x-quote {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }

        
        .item-rating {
            font-size: 22px;
            display: inline-flex;
            gap: 4px;
            color: var(--pn-clr-tp-1);
        }
        
        .quote-icon {
            font-size: 50px;
            color: var(--pn-clr-black-3);

            i {
                line-height: .7;
            }
        }

        &:hover {
            background-color: #EDF5FF;
        }
    }

    &-bg-svg {
        max-width: 260px;
        position: absolute;
        right: -20px;
        top: -10px;
        z-index: -1;

        @media #{$xs} {
            display: none;
        }
    }
}

.pn-products-1-slider-btn {
    &:is(.has-testimonial-1) {
        margin-top: 60px;
    }
}

/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.pn-testimonial-2 {

    &-area {
        background-color: #F6F9FF;
    }

    &-bg-illus-2 {
        width: 29%;
        position: absolute;
        top: -250px;
        left: -250px;
        z-index: -1;
    }

    &-sec-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.78fr;
        gap: 135px;

        @media #{$xl,$lg,$md} {
            gap: 55px
        }

        @media #{$xs} {
            gap: 55px;
            grid-template-columns: 1fr;
        }
    }

    &-img {
        &-single {
            height: 460px;
            border-radius: 400px 0 400px 400px;
        }
    }
    

    &-content {
        &-single {
            position: relative;
            padding-top: 25px;

            .icon {
                position: absolute;
                top: -8px;
                left: 0px;
                font-size: 80px;
                line-height: 1;
                color: var(--pn-clr-sd-1);
                opacity: .2;
                z-index: -1;
            }
            .comment {
                opacity: 1;
                font-size: 24px;
                margin-bottom: 32px;
            }

            .author-name {
                font-size: 24px;
                margin-bottom: 4px;
            }
            .author-bio {
                opacity: 1;
            }
        }
    }

    &-slider-btn {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 48px;
    }
}



/* 
    testimonial-2-end
*/