/* 
    video-1-start
*/
.pn-video-1 {
    &-bg-clr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 644px;
        z-index: -2;
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;

        .left {
            max-width: 430px;
        }

        .pn-subtitle-1 {
            color: #fff;
        }

        .pn-sec-title-1 {
            color: #fff;
        }

        .right {
            max-width: 380px;
        }

        .sec-disc {
            color: #fff;
            opacity: 1;
            margin-bottom: 30px;
        }
    }

    &-item {
        border-radius: 32px;
        height: 600px;

        .item-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: var(--pn-cube-1);
        }

        &:is(.active) {
            .item-btn {
                opacity: 0;
            }
        }
    }
}



/* 
    video-1-end
*/