/* 
    home-css-start
*/


.as-home-1 {
    
    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--as-clr-pr-1);
        }

    }

}

/* 
    home-css-end
*/